html
  head
    title pug模板
  body
    h1 express webpack-dev-middleware
    div#wrapper
    h1 #{title}
    h1= title
  block js
    script.
      var G_USER = !{JSON.stringify(user)};
    script(src="/static/index.js")
