html {
    background: #999999;
}

.box {
    height: 200px;
    width: 200px;
    background: green;
}

.box-medium {
    height: 300px;
    width: 300px;
    background: pink;
}

.box-small {
    height: 100px;
    width: 100px;
    background: orange;
}
